<div class="flex rounded-md bg-primary-100 px-4 py-3 dark:bg-primary-900">
  <span class="pe-3 text-primary-400">
    <span class="icon relative inline-block px-1 align-text-bottom">
      {{ partial "icon.html" "circle-info" }}
    </span>
  </span>
  <span class="dark:text-neutral-300">
    I’m actively seeking oppertunities for Full-time SWE roles starting in Spring 2025. If you liked my content,
    <a href="https://www.linkedin.com/in/tomy0000000" target="_blank" rel="noreferrer">Let’s Talk</a>.
  </span>
</div>
