<script>
  var remark_config = {
    host: "{{- .Page.Site.Params.services.remark42 -}}",
    site_id: "blog",
  };
</script>
<script>
  !(function (e, n) {
    for (var o = 0; o < e.length; o++) {
      var r = n.createElement("script"),
        c = ".js",
        d = n.head || n.body;
      "noModule" in r ? ((r.type = "module"), (c = ".mjs")) : (r.async = !0),
        (r.defer = !0),
        (r.src = remark_config.host + "/web/" + e[o] + c),
        d.appendChild(r);
    }
  })(remark_config.components || ["embed"], document);
</script>
<script>
  window.addEventListener("DOMContentLoaded", (event) => {
    var switchers = document.querySelectorAll("[id^='appearance-switcher']");
    switchers.forEach((switcher) => {
      switcher.addEventListener("click", () => {
        if (document.documentElement.classList.contains("dark")) {
          window.REMARK42.changeTheme("dark");
        } else {
          window.REMARK42.changeTheme("light");
        }
      });
    });
  });
</script>
