{{ $page := . }}
{{- /*  Basic  */ -}}
<meta property="og:title" content="{{ .Title }}" />
<meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}" />
<meta property="og:url" content="{{ .Permalink }}" />
{{- /*  Image  */ -}}
{{- $og_url := print "https://og.tomy.tech/api/blog?title=" (urlquery .Title) }}
{{/*  {{- $og_image := resources.GetRemote $og_url -}}  */}}
{{- $images := union ($page.Resources.ByType "image") nil -}}
{{- range $images -}}
  <meta property="og:image" content="{{ .Permalink }}" />
  {{- if (hasPrefix .Permalink "https") -}}
  <meta property="og:image:secure_url" content="{{ .Permalink }}" />
  {{- end -}}
  <meta property="og:image:type" content="{{ .MediaType }}" />
  {{- if ne .MediaType.SubType "svg" -}}
    <meta property="og:image:width" content="{{ .Width }}" />
    <meta property="og:image:height" content="{{ .Height }}" />
  {{- end -}}
{{- end -}}
{{- /*  Optional Metadata  */ -}}
{{- with .Params.audio }}<meta property="og:audio" content="{{ . }}" />{{ end }}
<meta property="og:description" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}" />
{{- /*  Locale  */ -}}
{{- with .Lang -}}
  {{- $territory := substr . 3 5 -}}
  {{- $locale := replace (replace . "-" "_") $territory ($territory | upper) -}}
  <meta property="og:locale" content="{{ $locale }}" />
{{- end -}}
{{- if .IsTranslated -}}
  {{- $pageLang := .Lang -}}
  {{- range .AllTranslations -}}
    {{- if ne .Lang $pageLang -}}
      {{- $territory := substr .Language.Params.languageCode 3 5 -}}
      {{- $locale := replace (replace .Language.Params.languageCode "-" "_") $territory ($territory | upper) -}}
      <meta property="og:locale:alternate" content="{{ $locale }}" />
    {{- end -}}
  {{- end -}}
{{- end -}}
{{- with .Site.Params.title }}<meta property="og:site_name" content="{{ . }}" />{{ end }}
{{- with .Params.videos }}{{- range . }}
<meta property="og:video" content="{{ . | absURL }}" />
{{ end }}{{ end }}
{{- /* If it is part of a series, link to related articles */}}
{{- $permalink := .Permalink }}
{{- $siteSeries := .Site.Taxonomies.series }}
{{- if $siteSeries }}
{{ with .Params.series }}{{- range $name := . }}
  {{- $series := index $siteSeries ((urls.Parse ($name | urlize)).Path) }}
  {{- range $page := first 6 $series.Pages }}
    {{- if ne $page.Permalink $permalink }}<meta property="og:see_also" content="{{ $page.Permalink }}" />{{ end }}
  {{- end }}
{{ end }}{{ end }}
{{- end -}}
{{- /*  Object Types properties  */ -}}
{{- if .IsPage -}}
  {{- $iso8601 := "2006-01-02T15:04:05-07:00" -}}
  {{ with .PublishDate }}<meta property="article:published_time" {{ .Format $iso8601 | printf "content=%q" | safeHTMLAttr }} />{{ end }}
  {{ with .Lastmod }}<meta property="article:modified_time" {{ .Format $iso8601 | printf "content=%q" | safeHTMLAttr }} />{{ end }}
  {{ with .ExpiryDate }}<meta property="article:expiration_time" {{ .Format $iso8601 | printf "content=%q" | safeHTMLAttr }} />{{ end }}
  <meta property="article:author" content="{{ .Site.Author.name }}" />
  <meta property="article:section" content="{{ .Section }}" />
  {{- range $tag := .Params.tags -}}
    <meta property="article:tag" content="{{ $tag }}" />
  {{- end -}}
{{- end -}}
{{- /* Facebook Page Admin ID for Domain Insights */}}
{{- with .Site.Social.facebook_admin }}<meta property="fb:admins" content="{{ . }}" />{{ end }}