{{/*  https://www.reddit.com/r/redditdev/comments/34c0pm  */}}
{{/*  Ideally .Page.Site.Config.Privacy.Reddit  */}}
{{- $pc := .Page.Site.Params.privacy.reddit -}}
{{- if not $pc.Disable -}}
  {{- if .IsNamedParams -}}
    {{- $sub := .Get "sub" -}}
    {{- $id := .Get "id" -}}
    {{- $live := .Get "live" -}}
    {{- if and $sub $id -}}
      {{- $url := printf "https://www.reddit.com/r/%v/comments/%v" $sub $id -}}
      {{- $query := querify "url" $url "live" (default false $live) "omitscript" $pc.Simple -}}
      {{- $request := printf "https://www.reddit.com/oembed?%s" $query -}}
      {{- $json := dict -}}
      {{- with resources.GetRemote $request -}}
        {{- with .Err -}}
          {{- errorf "%s" . -}}
        {{- else -}}
          {{- $json = . | transform.Unmarshal -}}
        {{- end -}}
      {{- else -}}
        {{- errorf "Unable to get remote resource %q" $url -}}
      {{- end -}}
      {{/*  Strip off the fixed height style  */}}
      {{- $embed := replaceRE `\sstyle="height:\d*px"\s` "" $json.html -}}
      {{ $embed | safeHTML -}}
    {{- else -}}
      {{- template "__reddit_error" . -}}
    {{- end -}}
  {{- else -}}
    {{- template "__reddit_error" . -}}
  {{- end -}}
{{- end -}}

{{- define "__reddit_error" -}}
  {{- errorf "The %q shortcode requires two named parameters: sub and id. See %s" .Name .Position -}}
{{- end -}}
